.flex-container {
    display: flex;
}

.flex-container.section1 {
    display: flex;
    background: #1F2937;
    height: 500px;
    flex-direction: column;
}

.flex-container.header {
    flex-basis: auto;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-family: 'Roboto', sans-serif;
    flex-basis: 50%;
    padding-left: 100px;
    
}

ul li{
    display: inline;
    list-style-type: none;
    padding: 0;
    margin: 10px;
}

.links {
    color: #E5E7EB;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    flex-basis: 50%;
    padding-right: 100px;
    padding-top: 20px;
    justify-content: center;
}

.box2 {
    justify-content: left;
    padding-top: 50px;
}

.lefttext {
    flex-direction: column;
    flex-basis: 50%;
    padding-right: 100px;
}

.maintext {
    padding-left: 100px;
    font-size: 48px;
    color: #F9FAF8;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    flex-wrap: wrap;
    flex-basis: 50%;
    padding-left: 100px;
    padding-bottom: 25px;
}

.subtext {
    padding-left: 100px;
    color: #E5E7EB;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    flex-basis: 50%;
    padding-left: 100px;
}

.rightimage {
    flex-basis: 50%;
}